@import url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.css');

body {
	direction: rtl;
	text-align: right;
	font-family: "Sahel";
	font-size: 14px;
}

.myfont,
.focus-input100::after {
  font-family: "Sahel" !important;
}

.btn-show-pass {
    right: initial;
    left: 0;
}

.non-field-errors {
    background-color: #fff0f0;
    padding: 20px 0;
    text-align: center;
}

.non-field-errors p {
    color: red;
    font-family: Sahel;

}

.errorlist li {
    color: red;
    margin-top: -25px;
    margin-bottom: 25px;
}